.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
}
  

.Item {
  position: absolute;
  top: 1000;
}

#divide{
  position: absolute;
  width: 100%;
  top:200px;
}

#item_description{
  white-space: nowrap;

}

html {
  background-color: white;
  background-image: url("paper_bg.jpg");

  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -160px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav.menuopened{
  left: 0px;
}

.sidenav.menuopen{
  transition: 2s;
  left: 0px;
}

.sidenav.menuclose{
  transition: 2s;
  left: -160px;
}

.sidenav.is-nav-open {
  left: 160px;
}

.content {
  z-index: 0;
  margin-left: 0px; /* Same as the width of the sidenav */
}

.content.menuopened {
  z-index: 0;
  margin-left: 160px; /* Same as the width of the sidenav */
}

.content.menuopen {
  z-index: 0;
  margin-left: 160px; /* Same as the width of the sidenav */
  transition: 2s;
}

.content.menuclose {
  z-index: 0;
  margin-left: 0px; /* Same as the width of the sidenav */
  transition: 2s;
}

.contentnomenu {
  z-index: 0;
  margin-left: 0px; /* Same as the width of the sidenav */
}

.detail_content {
  position: absolute;
  top: 208px;
  width: 1%;
  opacity: 100%;
  z-index: 2;
}

.ashadow {
  position: absolute;
  z-index: 1;
  top: 208px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 60%;
  background-color: #555;
}

.bshadow {
  position: absolute;
  z-index: -1;
  top: 208px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0%;
  background-color: #555;
}

.bshadow.active {
  opacity: 60%;
  transition: 2s;
}
